<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body style="direction:rtl !important; text-align:right">



  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    @Html.ActionLink(" سیستم نوبت دهی", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#logoutForm">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

      <ul class="navbar-nav">
        <li class="nav-item">
          @Html.ActionLink("نوبت گیری", "Index", "VisitSearch", null, new { @class = "nav-link" })
        </li>
        @*<li class="nav-item">
          <a class="nav-link" href="#">نوبت گیری</a>
        </li>*@
        <li class="nav-item">
          <a class="nav-link" href="#">پیگیری نوبت</a>
        </li>
      </ul>
    </div>
    @Html.Partial("_LoginPartial")


  </nav>


  <div class="container" style="margin-top:20px">
    <div class="row">
      @*<nav class="col-sm-3  sidebar border rounded">
          <div class="nav nav-pills flex-column nav-tabs border-bottom-0">
            <div class="nav-item">
              @Html.ActionLink("مدیریت پزشک", "Index", "DoctorManagement", new { area = "Admin" }, new { @class = "nav-link" })
              <div class="nav nav-pills flex-column">
                <div class="nav-item small pr-4">@Html.ActionLink("تعریف پزشک", "Create", "DoctorManagement", new { area = "Admin" }, new { @class = "nav-link" })</div>
              </div>
            </div>
            <div class="nav-item">
              @Html.ActionLink("مدیریت تخصص ها", "Index", "Specialties", new { area = "Admin" }, new { @class = "nav-link" })
              <div class="nav nav-pills flex-column">
                <div class="nav-item small pr-4">@Html.ActionLink("تعریف تخصص", "Create", "Specialties", new { area = "Admin" }, new { @class = "nav-link" })</div>
              </div>
            </div>
            <div class="nav-item">
              @Html.ActionLink("مدیریت مراکز درمانی", "Index", "MedicalCenters", new { area = "Admin" }, new { @class = "nav-link" })
              <div class="nav nav-pills flex-column">
                <div class="nav-item small pr-4">@Html.ActionLink("تعریف مرکز درمانی", "Create", "MedicalCenters", new { area = "Admin" }, new { @class = "nav-link" })</div>
              </div>
            </div>
          </div>
          <hr class="d-sm-none">
        </nav>*@
      <div class="col-sm-12 border rounded py-3">
        @RenderBody()
      </div>
    </div>
  </div>


  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>