@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

  using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "collapse navbar-collapse " }))
  {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right mr-auto">
  @if (User.IsInRole("Admin"))
  {
    <li class="nav-item ">@Html.ActionLink("پنل مدیریت", "Index", "Panel", new { area = "Admin" }, htmlAttributes: new { @class = "nav-link" })</li>
  }
  @if (User.IsInRole("Doctor"))
  {
    <li class="nav-item">@Html.ActionLink("پنل پزشکان", "Index", "Panel", new { area = "Doctor" }, htmlAttributes: new { @class = "nav-link" })</li>
  }
  <li class="nav-item">
    @Html.ActionLink("سلام " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
  </li>
  <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">خروج</a></li>
</ul>
  }
}
else
{
  <ul class="nav navbar-nav navbar-right mr-auto">
    <li class="nav-item">@Html.ActionLink("عضویت", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("ورود", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
  </ul>
}
