@model IEnumerable<NobatDehi.Models.MedicalCenter>

@{
    ViewBag.Title = "مراکز درمانی";
}

<h2>
  لیست مراکز درمانی

  <span class="small">
    (@Html.ActionLink("ایجاد مرکز جدید", "Create"))
  </span>
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedicalCenterType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalCenterType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>*@
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
