@using NobatDehi.Models
@model IEnumerable<VisitTime>
@{
  ViewBag.Title = "Index";
}
<h2>
  ویزیت های آتی

  @*<span class="small">
    (@Html.ActionLink("ایجاد مرکز جدید", "Create"))
  </span>*@
</h2>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.DoctorMedicalCenter.MedicalCenter.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Start)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.VisitDurationMin)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Fee)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ReserveDateTime)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.PatientUser)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CancelRate)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.PayDateTime)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.State)
    </th>
    @*<th>
      @Html.DisplayNameFor(model => model.Visited)
    </th>*@
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
  <tr>
    <td>
      @Html.DisplayFor(model => item.DoctorMedicalCenter.MedicalCenter.Name)
    </td>
    <td>
      @Html.DisplayFor(model => item.Start)
    </td>
    <td>
      @Html.DisplayFor(model => item.VisitDurationMin)
    </td>
    <td>
      @Html.DisplayFor(model => item.Fee)
    </td>
    <td>
      @Html.DisplayFor(model => item.ReserveDateTime)
    </td>
    <td>
      @Html.DisplayFor(model => item.PatientUser.LastName)
    </td>
    <td>
      @Html.DisplayFor(model => item.CancelRate)
    </td>
    <td>
      @Html.DisplayFor(model => item.PayDateTime)
    </td>
    <td>
      @Html.DisplayFor(model => item.State)
    </td>
    @*<td>
      @Html.DisplayFor(model => item.Visited)
    </td>*@
    <td>
      @Html.ActionLink("ویزیت شد", "Visited", new { id = item.Id }) |
      @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
      @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </td>
  </tr>
  }

</table>
