@model NobatDehi.Models.Specialty

@{
    ViewBag.Title = "Delete";
}

<h2>حذف تخصص</h2>

<h3>آیا از انجام این کار اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
      @if(Model.ParentId!=null)
      { 
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentSpecialty.Title)
        </dd>
      }
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به لیست تخصص ها", "Index")
        </div>
    }
</div>
